body {
	/*background-color: black;*/
}
:root {
	--header-padding: 12px 25px 12px 25px;
	--sidebar-lPadding: 5px;
	font-family: 'Open Sans', sans-serif;
}
a, a:hover, a:visited {
	color: inherit;
	text-decoration: none;
}

.header {
	grid-area: header;
	background-color: white;
}

.header-upper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--header-padding);
}

.user-info {
	display: flex;
	align-items: center;
	gap: 16px;
}
.user-info > span {
	font-weight: bold;
}

.search-bar {
	display: flex;
	height: 30px;
	gap: 15px;
}
.hamMenu {
	display: none;
}
.hamMenu:hover {
	cursor: grab;
}
.search-bar > input {
	width: 300px;
	border-radius: 10px;
	background-color: #e2e8f0;
	border: none;
	padding: 5px 10px 5px 10px;
}

.user-image {
	height: 30px;
	border-radius: 50%;
}

.header-lower {
	display: flex;
	justify-content: space-between;
	padding: var(--header-padding);
}

.uinfo {
	display: flex;
	gap: 10px;
}

.welcome-msg > span {
	padding: 4px;
	font-size: 0.8rem;
}
.welcome-msg > h2 {
	padding: 4px;
	font-weight: bold;
	font-size: 1.25rem;
}
.uploads {
	display: flex;
	align-items: center;
	gap: 16px;
}
.uploads > button {
	font-size: 0.75rem;
	font-weight: bold;
	padding: 2px 8px 2px 8px;
	background-color: #2b5b93;
	color: white;
	border-radius: 8px;

}

.projects {
	grid-area: projects;
	background-color: #e2e8f0;

}

.icon {
	height: 25px;
}

.big-icon {
	height: 50px;
	border-radius: 50%;
}
.project-dashboard {
	display: grid;
	grid-template-columns: 170px 2fr 250px;
	grid-template-rows: 130px auto;
	grid-template-areas: 
		"sidebar header header"
		"sidebar projects announce";
}

/*sidebar*/
.sidebar {
	grid-area: sidebar;
	background-color: #809fff;
	padding-left: var(--sidebar-lPadding);
}

.site-logo {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	margin-top: 2px;
	padding: 10px 0px 0px 0px;
}

.site-logo > img {
	width: 30px;
	padding: 10px;
}
.site-logo > img:hover {
	cursor: grab;
}

.site-logo > a {
	font-weight: bold;
	font-size: 1rem;
	padding: 10px 10px 10px 0px;
}
/*.sidebar * {
	border: 1px solid;
}*/
.upper-nav > div {
	display: flex;
	align-items: center;
}

.upper-nav > div:hover {
	transform: scale(1.05);
	font-weight: bold;
}

.upper-nav > div > img {
	width: 30px;
	height: 30px;
	padding: 10px;
}


.projects {
	padding: 10px;
}
.projects > h2 {
	font-weight: bold;
	padding: 10px;
	font-size: 1rem;
}

.all-projects {
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
}

.all-projects > div {
	border-radius: 10px;
	background-color: white;
	border: 1px solid white;
	border-left: 5px solid gold;
	
}

.all-projects > div:hover {
	border: 1px solid gold;
	border-left: 5px solid gold;
}

.all-projects > div > h3 {
	font-weight: bold;
	padding: 15px;
}

.all-projects > div > p {
	font-size: 0.75rem;
	padding: 0px 10px 10px 15px;
}

.project-image > a > img {
	width: 150px;
	height: 84px;
	padding: 0px 10px 10px 15px;
}

/*project section*/

.like-save-share {
	display: flex;
	justify-content: flex-end;
}
.icons > img {
	padding: 10px 10px 10px 15px;
	width: 20px;
}

/*.header * {
	border: 1px solid red;
}*/

.announce {
	grid-area: announce;
	background-color: #93ccc6;
}
